@using System.Globalization
@using Tinix.Context
@using System.Net
@model BlogPost

<script type="text/javascript" src="/js/jquery.js"></script>


<div class="row">
    <div class="col-12 postContainer">
        <a href="@Url.Action("Detail","Home", new {@id=@Model.ID, @name=@WebUtility.UrlEncode(Model.Title) })">  <h3 class="title">@Model.Title</h3> </a>
        <span>@Model.PubDate.ToString("MMMM", CultureInfo.InvariantCulture)  @Model.PubDate.Day, @Model.PubDate.Year </span>
        <hr />
        @Html.Raw(@Model.Content)
        <div class="row">
        <div class="col-sm-1">      
            <i class="likeButton fa fa-heart"></i>
        <span>(@Html.Raw(@Model.NumberOfLikes))</span>
        </div>
        <div class="col-sm-1">
            <i class="fa fa-comment" aria-hidden="true"></i> 
            <span class="glyphicon glyphicon-comment">(@Html.Raw(@Model.Comments == null? 0 :@Model.Comments.Count))</span>         
        </div> 
        </div>    
    </div>
    <div class="col-12 postContainer">
         <span>Comments</span>
        <br>
        <ul>  
            @if (@Model.Comments != null)
            {
                @foreach (var comment in Model.Comments)
                {
                    // cut for brevity, need to add back more code from original
                    <li>@comment.Comment</li>
                }
            }  
          
        </ul> 
    </div>
</div>
<br />

<script>
$(document).ready(function() {

  $(".likeButton").on('click',  function(e) {
    e.preventDefault();
	  var url = '@Url.Action("Like", "Home", new {blogPostID = "BLOG_ID"})';
	  url = url.replace("BLOG_ID", $("#exampleTextarea").data("id"));
      url = url.replace("amp;", "");

	  window.location.href = url;
  });
});
</script>