@using Tinix.Context


@model NewPostViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript" src="/js/tinymce.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>


<a style="float:right" id="linkLogOff" class="btn btn-warning">Log off</a>


<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="#">New Post</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Posts")">Posts</a>
    </li>
</ul>


<div class="row">
    <div class="col-12">
        <br />
        <h3 class="text-center">New Post</h3>

        <br />
        Title :
        <br />
        <form method="post" action="@Url.Action("NewPost","Admin")">
            @Html.TextBoxFor(model => model.Title, new { @id = "textBoxTitle", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title, string.Empty, new { @class = "text-danger" })
            <br/>
            Content :
            <br />
            @Html.TextAreaFor(model => model.Content, new { @id = "Content" })
            <br />
            @Html.ValidationMessageFor(model => model.Content, string.Empty, new { @class = "text-danger" })
            <br/>
            <br />
            <div class="row">
                <div class="col-1">
                    <input type="submit" value="Save" id="buttonPost" class="btn btn-primary" />
                </div>  
                <div class="col-4">
                    <label class="switch">
                        @Html.CheckBoxFor(model => model.IsPublished, new { @id = "IsPublished" })
                        <span class="slider round"></span>
                    </label>
                </div>               
            </div>
        </form>
    </div>
</div>

<form id="formLogOff" action="@Url.Action("LogOff", "Admin")" method="post"></form>


